<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>It's A Hardback Life Book Club</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italiana&display=swap'
      rel='stylesheet'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src='https://friconix.com/cdn/friconix.js'> </script>
  </head>

  <body>
    <nav
      class='navbar is-size-4'
      role='navigation'
      aria-label='main navigation'
    >
      <div class='navbar-brand'>
        <span class='navbar-item'>
          It's A Hardback Life
          <i class='fi-xnluxl-open-book'></i>
        </span>
        <a
          role='button'
          class='navbar-burger has-text-white is-size-4'
          aria-label='menu'
          aria-expanded='false'
          data-target='navbarBasicExample'
        >
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
        </a>
      </div>
      <div id='navbarBasicExample' class='navbar-menu'>
        <div class='navbar-start'>
          <a href='/' class='navbar-item'>
            Main
          </a>
          <a href='/profile' class='navbar-item'>
            Profile
          </a>
          <a href='/forum' class='navbar-item'>
            Forum
          </a>
          {{#ifEquals user_role 'admin'}}
            <div class='navbar-item has-dropdown is-hoverable'>
              <a class='navbar-link has-text-white'>
                Members
              </a>

              <div class='navbar-dropdown is-size-4'>
                <a class='navbar-item'>
                  View/Edit Members
                </a>
                <a class='navbar-item'>
                  Invite New Member
                </a>
              </div>
            </div>
          {{/ifEquals}}
        </div>
      </div>
      <div class='navbar-end'>
        {{#if logged_in}}
          <div class='navbar-item'>
            <a id='logout' class='navbar-item'>
              <strong>Log Out</strong>
            </a></div>
        {{else}}
          <div class='navbar-item'>
            <a href='/login' class='navbar-item'>Login | Signup</a>
          </div>
        {{/if}}

      </div>

    </nav>

    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script src='/js/navburger.js'></script>
  </body>

</html>