<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>It's A Hardback Life Book Club</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
    <link rel='stylesheet' href='/css/style.css' />
    <script defer src='https://friconix.com/cdn/friconix.js'> </script>
  </head>

  <body>
    <nav class='navbar' role='navigation' aria-label='main navigation'>
      <div class='navbar-brand'>
        <span class='navbar-item'>
          It's A Hardback Life
          <i class='fi-xnluxl-open-book'></i>
        </span>
        <a
          role='button'
          class='navbar-burger'
          aria-label='menu'
          aria-expanded='false'
          data-target='navbarBasicExample'
        >
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
          <span aria-hidden='true'></span>
        </a>
      </div>
      <div class='navbar-menu'>
        <div class='navbar-start'>
          <a href='/' class='navbar-item'>
            Main
          </a>
          <a href='/profile' class='navbar-item'>
            Profile
          </a>
          <a href='/forum' class='navbar-item'>
            Forum
          </a>
        </div>
      </div>
      <div class='navbar-end'>
        <div class='navbar-item'>
          {{#if logged_in}}
            <a id='logout' class='navbar-item'>
              <strong>Log Out</strong>
            </a>
          {{else}}
            <a href='/login' class='navbar-item'>Login | Signup</a>
          {{/if}}
        </div>
      </div>

    </nav>

    <main>
      <!-- Render the sub layout -->
      {{{body}}}
    </main>

  </body>

</html>