<div class='container box' id='search-page-box'>
  <div
    class='columns is-flex is-justify-content-space-evenly has-text-weight-semibold'
  >
    {{! Currently reading  }}
    <div class='column is-4'>
      <div class='panel' id='custom-search'>
        <p class='panel-heading'>
          Currently Reading
        </p>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Name of Book Currently Reading
        </a>
      </div>
      {{! Add a Review  }}
      <div class='panel' id='custom-search'>
        <p class='panel-heading'>
          Add A Review
        </p>
        <form>
          <div class='has-text-centered box'>
            <div class='field has-text-centered'>
              <label class='label'>Stars: </label>
              <div class='control is-expanded"'>
                <div class='select custom-select'>
                  <select class='custom-select'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class='field has-text-centered'>
              <div class='control'>
                <textarea
                  class='textarea'
                  placeholder='Input Review Here'
                  rows='10'
                ></textarea>
              </div>
            </div>
            <button onclick='submitReview()' class='button mt-6'>Submit</button>
          </div>
        </form>
      </div>
    </div>
    {{! Saved books  }}
    <div class='column is-4'>
      <div class='panel' id='custom-search'>
        <p class='panel-heading'>
          Saved Books
        </p>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Saved Book 1
        </a>
        <a class='panel-block'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Saved Book 2
        </a>
        <a class='panel-block'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Saved Book 3
        </a>
      </div>
    </div>
    {{! Reviewed books }}
    <div class='column is-4'>
      <div class='panel' id='custom-search'>
        <p class='panel-heading'>
          Reviewed Books
        </p>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Reviewed Book 1
        </a>
        <a class='panel-block'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Reviewed Book 2
        </a>
        <a class='panel-block'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          Reviewed Book 3
        </a>
      </div>
    </div>
  </div>
  {{! Club Members }}
  <div
    class='columns is-flex is-justify-content-space-evenly has-text-weight-semibold'
  >
    <div class='column is-12'>
      <div class='panel' id='custom-search'>
        <p class='panel-heading'>
          Club Members
        </p>
        <div id='output'></div>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          <p>
            Member Name (Link to profile or option to delete?)
          </p>
        </a>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          <p>
            Member Name 1
          </p>
        </a>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          <p>
            Member Name 2
          </p>
        </a>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          <p>
            Member Name 3
          </p>
        </a>
        <a class='panel-block is-active'>
          <span class='panel-icon'>
            <i class='fas fa-book' aria-hidden='true'></i>
          </span>
          <p>
            Member Name 4
          </p>
        </a>
      </div>
    </div></div>
</div>