
<div class='container box' id='search-page-box'>
  <div
    class='columns is-flex is-justify-content-space-evenly has-text-weight-semibold'
  >
  {{! Club Members }}
    <div class='column is-12'>
      <div class='panel custom-search'>
        <p class='panel-heading'>
          Club Members
        </p>

        {{#unless users.length}}
          <h3 class='is-size-5 has-text-weight-semibold p-2'>No Users Currently</h3>
        {{/unless}}
        {{#if users.length}}
          {{#each users as |user|}}
            <div class='card'>
              <header class='card-header'>
                <p class='card-header-title'>{{user.name}}</p>
                <a class='card-header-icon card-toggle'>
                  <i class='fi-xwsdxl-chevron-wide'></i>
                </a>
              </header>
              <div class='card-content is-hidden'>
                <div class='card-content custom-card'>
                  Email: {{user.email}}
                     <br>
                 Role: {{user.role}}
                </div>
              </div>
            </div>
          {{/each}}
        {{/if}}
    </div>
</div>
<script src="./js/admin.js"></script>