<div class='column is-6'>
  <div class='panel' id='custom-search'>
    <p class='panel-heading'>
      Login
    </p>
    <form class='login-form'>
      <div class='has-text-centered box'>
        <div class='field'>
          <p class='control has-icons-left has-icons-right'>
            <input
              class='input'
              id='email-login'
              type='email'
              placeholder='Email'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-envelope'></i>
            </span>
            <span class='icon is-small is-right'>
              <i class='fas fa-check'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control has-icons-left'>
            <input
              class='input'
              id='password-login'
              type='password'
              placeholder='Password'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-lock'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control'>
            <button class='button is-success'>
              Login
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>

</div>

<div class='column is-6'>
  <div class='panel' id='custom-search'>
    <p class='panel-heading'>
      Sign Up
    </p>
    <form class='signup-form'>
      <div class='has-text-centered box'>
        <div class='field'>
          <p class='control has-icons-left has-icons-right'>
            <input
              class='input'
              id='firstName'
              type='text'
              placeholder='First Name'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-envelope'></i>
            </span>
            <span class='icon is-small is-right'>
              <i class='fas fa-check'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control has-icons-left has-icons-right'>
            <input
              class='input'
              id='lastName'
              type='text'
              placeholder='Last Name'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-envelope'></i>
            </span>
            <span class='icon is-small is-right'>
              <i class='fas fa-check'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control has-icons-left has-icons-right'>
            <input
              class='input'
              id='email-signup'
              type='email'
              placeholder='Email'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-envelope'></i>
            </span>
            <span class='icon is-small is-right'>
              <i class='fas fa-check'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control has-icons-left'>
            <input
              class='input'
              id='password-signup'
              type='password'
              placeholder='Password'
            />
            <span class='icon is-small is-left'>
              <i class='fas fa-lock'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control has-icons-left'>
            <label class='checkbox'>
              <input type='checkbox' />
              I agree to the
              <a href='#'>terms and conditions</a>
            </label>
            <span class='icon is-small is-left'>
              <i class='fas fa-lock'></i>
            </span>
          </p>
        </div>

        <div class='field'>
          <p class='control'>
            <button class='button is-success'>
              Submit
            </button>
          </p>
        </div>
      </div>
    </form>
  </div>

</div>