    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body has-text-centered">
            <div class='container'>
                <form class='box'>
                    <div class="has-text-centered">

                        <div class="container">
                            <h1 class="title">
                                It's A Hardback Life...
                            </h1>
                            <p class="subtitle">
                                for us!
                            </p>
                        </div>
                        <div class='field has-text-centered'>
                            <label class='label'>Search by: </label>
                            <div class='control is-expanded"'>
                                <div class='select custom-select'>
                                    <select class="custom-select">
                                        <option>Subject</option>
                                        <option>Author</option>
                                        <option>Title</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class='field has-text-centered'>
                            <div class='control'>
                                <input id="input" class='input' type='text' placeholder='Search here' />
                            </div>
                        </div>

                        <button onclick="getBooks()" class='button mt-6'>Search</button>
                </form>
                <div id="output"></div>
            </div>
        </div>
    </section>