<section class='hero is-fullheight-with-navbar'>
  <div class='hero-body has-text-centered'>
    <div class='container'>
      <form class='form box'>
        <div class='has-text-centered'>
          <div class='container'>
            <div class='panel-heading'>
              <p class='title'>It's A Hardback Life . . . for Us!</p>
              <p>
                Search for your favorite books and authors:
              </p>
            </div>
          </div>
          <div class='field has-text-centered'>
            <div class='control'>
              <input
                id='input'
                class='input'
                type='text'
                placeholder='Search here'
              />
            </div>
          </div>

          <button id='bookName' class='button mt-6'>Search</button>
          <br /><br />
        </div>
        <div id='results'></div>
        <div id='output' class='search-results'></div>
      </form>
    </div>

  </div>

</section>
<script src='/js/search.js'></script>
<script src='/js/fetch.js'></script>