<div class='columns is-flex is-desktop is-vcentered form-height'>
  <form class='column is-half is-offset-one-quarter box login-form p-4'>
    <div class='field'>
      <p class='control has-icons-left has-icons-right'>
        <input
          class='input'
          id='email-login'
          type='email'
          placeholder='Email'
        />
        <span class='icon is-small is-left'>
          <i class='fas fa-envelope'></i>
        </span>
        <span class='icon is-small is-right'>
          <i class='fas fa-check'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <p class='control has-icons-left'>
        <input
          class='input'
          id='password-login'
          type='password'
          placeholder='Password'
        />
        <span class='icon is-small is-left'>
          <i class='fas fa-lock'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <p class='control'>
        <button class='button is-success'>
          Login
        </button>
      </p>
    </div>
  </form>
</div>
<div class='columns is-flex is-desktop is-vcentered form-height'>
  <form class='column is-half is-offset-one-quarter box signup-form p-4'>
    <div class='field'>
      <p class='control has-icons-left'>
        <input class='input' type='name' id='name-signup' placeholder='Name' />
        <span class='icon is-small is-left'>
          <i class='fas fa-user'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <p class='control has-icons-left has-icons-right'>
        <input
          class='input'
          id='email-signup'
          type='email'
          placeholder='Email'
        />
        <span class='icon is-small is-left'>
          <i class='fas fa-envelope'></i>
        </span>
        <span class='icon is-small is-right'>
          <i class='fas fa-check'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <p class='control has-icons-left'>
        <input
          class='input'
          id='password-signup'
          type='password'
          placeholder='Password'
        />
        <span class='icon is-small is-left'>
          <i class='fas fa-lock'></i>
        </span>
      </p>
    </div>
    <div class='field'>
      <p class='control'>
        <button class='button is-success'>
          Sign Up
        </button>
      </p>
    </div>
  </form>
</div>

<script src='./js/login.js'></script>