:root {
  --darktext: #2c2b32;
  --navbarbackground: #463f3a;
  --mainbackground: #8a817c;
  --cardbackground: #bcb8b1;
  --lighttext: #f4f3ee;
}
body {
  font-family: 'Italiana', serif;
}
.navbar {
  color: var(--lighttext);
  background-color: var(--navbarbackground);
}

.navbar-item {
  color: var(--lighttext);
  background-color: var(--navbarbackground);
}

.hero {
  /* min-height: 100vh; */
  background-color: #463f3a;
  background-image: url('../assets/librarybackground.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

form.box {
  background-color: #bcb8b1;
  opacity: 0.8;
  padding: 6rem;
  margin: 10rem 15rem;
}

.custom-select {
  min-width: 100%;
}

.field.has-text-centered {
  padding-top: 2rem;
}

.panel-heading {
  color: var(--lighttext);
  background-color: var(--navbarbackground);
}

#custom-search {
  text-align: center;
}

#search-page-box {
  min-width: 100vw;
  min-height: 100vh;
}
/* Photo by <a href="https://unsplash.com/@itfeelslikefilm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">🇸🇮 Janko Ferlič</a> on <a href="https://unsplash.com/s/photos/library?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
     */
