:root {
  --darktext: #2c2b32;
  --navbarbackground: #463f3a;
  --mainbackground: #8a817c;
  --cardbackground: rgba(188, 184, 177, 0.9);
  --lighttext: #f4f3ee;
}
* {
  font-weight: 600;
}
.title {
  font-size: 30px;
  color: var(--lighttext);
}

.search-results {
  color: var(--darktext);
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
}

.button.is-ghost.is-hovered,
.button.is-ghost:hover {
  color: #363636;
  text-decoration: none;
}

.centered {
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Italiana', serif;
}
.navbar {
  color: var(--lighttext);
  background-color: var(--navbarbackground);
}

.navbar-item {
  color: var(--lighttext);
  background-color: var(--navbarbackground);
}

.hero {
  /* min-height: 100vh; */
  background-color: var(--navbarbackground);
  background-image: url('../assets/librarybackground.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.form.box {
  padding: 6rem;
  margin: auto;
}

@media only screen and (min-width: 1024px) {
  .form.box {
    padding: 6rem;
    margin: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .form.box {
    padding: 1rem;
    margin: 0;
  }
}

.unless,
.card,
.box {
  background-color: var(--cardbackground);
}
.wrapper p {
  padding: 5px;
}

.custom-select {
  min-width: 100%;
}

.field.has-text-centered {
  padding-top: 2rem;
}

.panel-heading {
  color: var(--lighttext);
  background-color: var(--navbarbackground);
}
/* Profile Page  */
/* .custom-search {
  text-align: center;
  background-color: #fff;
  color: var(--darktext);
} */
/* Review Cards */
.card-content.custom-card {
  padding: 0.25rem;
}

/****** Style Star Rating Widget *****/
.stars-widget {
  color: grey;
  font-size: 18px;
}
.stars-widget input {
  display: none;
}
.stars-widget .checked {
  color: gold;
}
.stars-widget label:hover {
  color: gold;
  cursor: pointer;
}
/* To edit the current book */
#edit-book-div {
  display: none;
}
#edit-book-div.active {
  display: block;
}

.page-box {
  padding-top: 5rem;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../assets/librarybackground.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.search-results {
  color: var(--lighttext);
  text-align: center;
}

/* Pusher Styling */
#app {
  padding-top: 20px;
}

.chat-body {
  padding: 20px;
}

.chat-text {
  font-weight: bolder;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* pusher styling */
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b3a9a9;
}

.chat li .chat-body p {
  background: linear-gradient(to bottom right, #43389f 0%, #4ec6ca 100%);
  margin: 0;
  padding-left: 10px;
  color: white;
}

.input-group {
  padding: 20px;
}

.form-group {
  padding: 20px;
}

.btn-primary {
  padding-left: 20px;
}

.panel-body {
  overflow-y: auto;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #2c2b32;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: #43389f;
}
.btn--primary:active {
  background: #2c2b32;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -96px;
}

.btn--inside {
  margin-left: -96px;
}

.form__field {
  width: 98%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.is-pulled-right {
  width: 66%;
}

.message-username {
  margin-left: 80%;
  color: lightgrey;
}

.chat {
  border: solid 1px #eee;
  max-height: 70vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00d0ea 0%, #0085d1 100%);
  background-attachment: fixed;
  position: relative;
}
